<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/confirmation.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/vendors/jquery-ui.css">
        <script type="text/javascript" src='/js/jquery-3.1.1.min.js'></script>
        <script type="text/javascript" src='/js/jquery-ui.min.js'></script>
    </head>
    <body>
        <form>
            <div class="Rectangle">
                <div class="logo"></div>
                <div class="WingsAirlines">WingsAirlines <span class="Line" style="margin-top: -11px;" /></div>
                <div class="Login">Login<span class="Line" style="margin-left:36px;margin-top: -14px;"></span>
                    <span class="Line" style="margin-left:-85px;margin-top: -14px;"></span>
                </div>
                <div class="SignUp">SignUp</div>
            </div>
            <div class="Shape"></div>
            <div class="Yay-Congratulation">Yay! Congratulations<br />Your ticket has been booked</div>
            <div class="Rectangle-3">
                <div id="leftcolumn">
                    <div class="Rectangle-5">
                        <div class="logo1"></div>
                        <div class="WingsAirlines1">WingsAirlines</div>
                        <div class="-NY">02:00<br />NY</div>
                        <div class="arrow"></div>
                        <div class="-IN">04:00<br />IN</div>
                        <div class="amount">$150<br />Amount</div>
                    </div>
                </div>
                <div id="rightcolumn">
                    <div class="Rectangle-5">
                        <div class="logo1"></div>
                        <div class="WingsAirlines1">WingsAirlines</div>
                        <div class="-NY">12:30<br />IN</div>
                        <div class="arrow"></div>
                        <div class="-IN">14:30<br />NY</div>
                        <div class="amount">$125<br />Amount</div>
                    </div>
                </div>
            </div>
            <div class="Rectangle-4">A copy of the ticket is mailed to you.<br />Thank you for using WingsAirlines</div>
            <div class="Rectangle-8">
                <div class="exploreLinkLeft" style="margin-top: 12px; margin-left: 29px; ">Most visited  <br />destinations</div>
                <div class="exploreLinkLeft" style="margin-top: -30px; margin-left: 170px; " >Low   Budget  <br />Destinations</div>
                <div class="exploreLinkLeft" style="margin-top: -30px; margin-left: 320px; " >Weekend <br />Gateways</div>
                <div class="exploreLinkLeft" style="margin-top: -26px; margin-left: 1015px; font-size: 18px" >Careers</div>
                <div class="exploreLinkLeft" style="margin-top: -30px; margin-left: 1160px; font-size: 18px">About Us</div>
                <div class="exploreLinkLeft" style="margin-top: -30px; margin-left: 1300px; font-size: 18px">Contact Us</div>
            </div>
        </form>
    </body>
</html>