extends ./templates/main.jade

block content
  include ./templates/navbar.jade
  div.container
    div
      div.logo-central
      div.cofirmation-text-msg 
        | Yay! Congratulations
        br
        | Your ticket has been booked
  div.container
    div.row.confirm-ticket-box
      div.col-md-6
        div.col-md-5
          div.col-md-1.logo-background
            div.confirm-box-logo1
          div.col-md-8.confirm-logo-text Wings Airlines
        div.col-md-2 World
      div.col-md-6

  //- div.Rectangle-3
  //-   div#confirm-box-leftcolumn
  //-     div.Rectangle-5
  //-       div.logo1
  //-       div.WingsAirlines1 WingsAirlines
  //-       div.-NY 
  //-         | 02:00
  //-         br 
  //-         | NY
  //-       div.arrow
  //-       div.-IN
  //-         | 04:00
  //-         br
  //-         | IN
  //-       div.amount
  //-         | $150
  //-         br
  //-         | Amount
  //-   div#confirm-box-rightcolumn
  //-     div.Rectangle-5
  //-       div.logo1
  //-       div.WingsAirlines1 WingsAirlines
  //-       div.-NY
  //-         | 12:30
  //-         br
  //-         | IN
  //-       div.arrow
  //-       div.-IN
  //-         | 14:30
  //-         br
  //-         | NY
  //-       div.amount
  //-         | $125
  //-         br
  //-         | Amount