extends ./templates/main.jade

block content
  include ./templates/navbar.jade

  div.container
    div.h1(style="font-weight: bold") Discover the world with us
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/chicago.jpg")
            h3.dest-img-text Chicago
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/austin.jpg")
            h3.dest-img-text Austin            
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/albana.jpg")
            h3.dest-img-text Albana
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/chicago.jpg")
            h3.dest-img-text Chicago
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/austin.jpg")
            h3.dest-img-text Austin            
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/albana.jpg")
            h3.dest-img-text Albana
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/chicago.jpg")
            h3.dest-img-text Chicago
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/austin.jpg")
            h3.dest-img-text Austin            
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/albana.jpg")
            h3.dest-img-text Albana
    div(style='height:150px')  