extends ./templates/main.jade

block content
  include ./templates/navbar.jade

  div.container
    div.h1(style="font-weight: bold; margin-left:320px") Discover the world with us
  div.container
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/chicago.jpg")
            h3.dest-img-text Chicago
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/austin.jpg")
            h3.dest-img-text Austin            
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/albana.jpg")
            h3.dest-img-text Albana
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/San Francisco.jpg")
            h3.dest-img-text San Francisco
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/Canada.jpg")
            h3.dest-img-text Canada           
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/Virginia.jpg")
            h3.dest-img-text Virginia
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/Seattle.jpg")
            h3.dest-img-text Seattle
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/Florida.jpg")
            h3.dest-img-text Florida           
        div.col-md-3.right-bottom-dest
          div.dest-img-overlay
            img.dest-images(src="/images/Ethens.jpg")
            h3.dest-img-text Ethens
    div(style='height:150px')  