extends ./templates/main.jade

block content  
  include ./templates/navbar.jade
  
  div.container
    div
      div.logo-central
      div.cofirmation-text-msg 
        | Check and Downlod Your Booking Here
   div.container
     input.p-box(type='text', name='PNR', placeholder='PNR Number' required)(style='margin-left:480px ; margin-top:20px')
     div
       div#p-continue1.col-sm-2.col-md-2.col-lg-2
         button.btn.btn-warning.btn-md.p-rectangle-5(style='margin-left:320px; margin-top:50px')
           label.p-continue Download
       div#p-continue1.col-sm-2.col-md-2.col-lg-2
         button.btn.btn-warning.btn-md.p-rectangle-5(style='margin-left:400px ; margin-top:50px')
           label.p-continue Cancel
           //- if results.reservation_status == 'Cancelled'
           //-  div.alert.alert-danger(style="margin-top: 65px; font-size: 18px;")
           //-              |Your Ticket has been Cancelled
           //-              br
           //-              |Refund has been started!

   div(style='height:150px')  