<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/vendors/jquery-ui.css">
        <script type="text/javascript" src='/js/jquery-3.1.1.min.js'></script>
        <script type="text/javascript" src='/js/jquery-ui.min.js'></script>
    </head>
    <body>
        <form>
            <div class="Rectangle">
                <div class="logo"></div>
                <div class="WingsAirlines">WingsAirlines <span class="Line" style="margin-top: -11px;" /></div>
                <div class="Login">Login<span class="Line" style="margin-left:36px;margin-top: -14px;"></span>
                    <span class="Line" style="margin-left:-85px;margin-top: -14px;"></span>
                </div>
                <div class="SignUp">SignUp</div>
            </div>
            <div class="Rectangle-2">
                <!-- <input type="radio" id="RoundTrip" style="margin-top:16px; margin-left:55px;" ><label style="color:white; margin-left: -30px;" for="RoundTrip"><div class= "RoundTrip" style="margin-top: -15px;margin-left: 73px;">RoundTrip</div></label> </input>
                    <input type="radio"  id="OneWay" style="margin-top:16px; margin-left:55px;"checked ><label style="color:white; margin-left: -30px;" for="OneWay">OneWay</label></input> -->
                <div class = "Rectangle-4" style="margin-top: 39px;margin-left: 75px;"></div>
                <div class ="Chicago" style=" margin-left: 147px;">Chicago<span class="Line" style="margin-top: -17px;height: 55px;margin-left: 75px;"></span></div>
                <div class ="Chicago" style= "margin-top: -25px;margin-left: 365px;">New York<span class="Line" style="margin-top: -18px;height: 55px;margin-left: 78px;"></span></div>
                <div class="Fly-In" style ="margin-top: -25px;margin-left: 582px;">Fly In</div>
                <div class="arrow" style="background-image: url(../Images/arrowgray.PNG);margin-top:-20px;margin-left: 654px;"></div>
                <div class="Fly-In" style="margin-top: -41px;margin-left: 720px;">Fly Out<span class="Line" style="margin-top: -19px;height: 55px;margin-left: 48px;"></span></div>
                <div class="-Adult-Economy" style="margin-left:922px;margin-top: -25px;">1 Adult Economy</div>
                <button type="button" class="Edit">Edit</button>
            </div>
            <div class="Rectangle-13">
                <div class="New-York-to-New-York" style=" margin-top: 15px;margin-left: 144px;">New York to Indiana - Thursday 27 Oct  2016</div>
                <div class="New-York-to-New-York" style=" margin-top: -26px;margin-left: 905px;">Indiana to New York- Sunday 30 Oct  2016</div>
                <div class="Rectangle-14">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 12px;">DURATION</div>
                </div>
                <div class="Rectangle-14" style="margin-top: -47px;margin-left: 189px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 12px;">DEPARTURE</div>
                </div>
                <div class="Rectangle-14" style="margin-top: -47;margin-left: 328px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 12px;">ARRIVAL</div>
                </div>
                <div class="Rectangle-14" style="margin-top: -47px;margin-left: 467px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 2px;">PRICE</div>
                </div>
                <div class="pricearrow"></div>
                <div class="Rectangle-14" style="margin-left: 829px;margin-top: -51px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 12px;">DURATION</div>
                </div>
                <div class="Rectangle-14" style="margin-top: -47px;margin-left: 966px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 12px;">DEPARTURE</div>
                </div>
                <div class="Rectangle-14" style="margin-top: -47px;margin-left: 1103px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 12px;">ARRIVAL</div>
                </div>
                <div class="Rectangle-14" style="margin-top: -47px;margin-left: 1240px;">
                    <div class="DURATION" style = "margin-top: 12px;margin-left: 2px;">PRICE</div>
                </div>
                <div class="pricearrow"style="margin-left:1340px;"></div>
                <div class="Rectangle-6">
                    <input class="flightselect1 big-radio"type="radio" checked name="flight" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">02:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">04:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$150</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff">
                    <input class="flightselect2 big-radio"type="radio" name="flight" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">02:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">04:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$175</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff">
                    <input class="flightselect3 big-radio"type="radio" name="flight" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">02:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">04:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$200</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff">
                    <input class="flightselect4 big-radio"type="radio" name="flight" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">02:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">04:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$225</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff">
                    <input class="flightselect5 big-radio"type="radio" name="flight" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">02:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">04:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$250</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff;margin-top: -601px;margin-left: 829px;width: 547px;">
                    <input class="flightselect6 big-radio"type="radio" name="flight2" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">10:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">12:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$100</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff;margin-left: 829px;width: 547px;">
                    <input class="flightselect7 big-radio"type="radio" name="flight2" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">12:05</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">14:05</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$179</div>
                </div>
                <div class="Rectangle-6" style="margin-left: 829px;width: 547px;">
                    <input class="flightselect8 big-radio"type="radio" checked name="flight2" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">12:30</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">14:30</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$125</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff;margin-left: 829px;width: 547px;">
                    <input class="flightselect9 big-radio" type="radio" name="flight2" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">14:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">16:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$275</div>
                </div>
                <div class="Rectangle-6" style="background-color:#ffffff;margin-left: 829px;width: 547px;">
                    <input class="flightselect10 big-radio" type="radio" name="flight2" style="margin-left: -245px;margin-top: 38px;"></input>
                    <div class="logo1" style="border: solid 1px #979797;background-color: #19707b;width:40.1px;background-image: url(../Images/shape1.svg);background-position: center; height:40.1px;margin-top: -33px;margin-left: 61px;"></div>
                    <div class="WingsAirlines1"style="color: #656565;margin-left: 121px;">WingsAirlines</div>
                    <div class="-NY"style="color: #656565;margin-left:231px"><span style="color:#000000;">02:00</span><br />Non Stop</div>
                    <div class="-IN" style="color:#656565;margin-top:-40px;margin-left: 362px;"><span style="color:#000000;">04:00</span><br />2h 00m</div>
                    <div class="amount" style="color: #9d0d0d;font-size: 20px;margin-top:-34px;margin-left: 460px;">$150</div>
                </div>
            </div>
            <div class="Rectangle-3">
                <div id="leftcolumn">
                    <div class="Rectangle-5">
                        <div class="logo1"></div>
                        <div class="WingsAirlines1">WingsAirlines</div>
                        <div class="-NY">02:00<br />NY</div>
                        <div class="arrow"></div>
                        <div class="-IN">04:00<br />IN</div>
                        <div class="amount">$150<br />Amount</div>
                    </div>
                </div>
                <div id="rightcolumn">
                    <div class="Rectangle-5">
                        <div class="logo1"></div>
                        <div class="WingsAirlines1">WingsAirlines</div>
                        <div class="-NY">12:30<br />IN</div>
                        <div class="arrow"></div>
                        <div class="-IN">14:30<br />NY</div>
                        <div class="amount">$125<br />Amount</div>
                        <div class="-Total-Amount" style="margin-top:-48px;margin-left: 546px;">$275<br />Total<br />Amount</div>
                        <button type="button" class="Book"><a style="color: white" href="/payments">Book</a></button>
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript">
        	window.onload = function() {
        	  console.log('window load');
        	  $('input[type=radio]:checked').parent().css({
        	  	"background-color" : "#f5eedc"
        	  });
        	}
        </script>
    </body>
</html>