footer.footer
  div
    div.col-md-6.footer-left-nav
      div.col-md-3: a(href="/pnr") See Bookings
      div.col-md-3: a(href="/destinations") Destinations
      div.col-md-2: a(href="/") Home Page
    div.col-md-6.footer-right-nav
      div.col-md-2.footer-right-nav-item 
      div.col-md-2.footer-right-nav-item
          a(href="/about") About Us
      div.col-md-2.footer-right-nav-item  