div
  div.col-md-6.footer-left-nav
    div.col-md-3 Most Visited Destinations
    div.col-md-3 Low Budget Destinations
    div.col-md-2 Weekend Gateways
  div.col-md-6.footer-right-nav
    div.col-md-2.footer-right-nav-item Careers
    div.col-md-2.footer-right-nav-item About Us
    div.col-md-2.footer-right-nav-item Contact Us