div
  nav.navbar.navbar-default.custom-nav-bar
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='#')
          img.main-logo(alt='Wings Airlines', src='/images/main_logo.svg')
      ul.nav.navbar-nav
        li.nav-separator
      ul.nav.navbar-nav.navbar-right
        li.nav-separator
        li.navbar-item: a(href="#") Login
        li.nav-separator
        li.navbar-item: a(href="#") Signup