html, body{
 margin: 0;
 padding: 0;
 }
.Rectangle {
  
  width: 1440px;
  height: 55px;
  background-color: #f9f8f6;
  border: solid 1px #979797;
  
}
.Line {
	position: absolute;
	margin-left: 10px;
  margin-top: -18px;
  height: 53px;
  border: solid 1px #d2c7c7;
}
.logo {
  margin-left: 16.3px;
  width: 45.1px;
  height: 43.4px;
  background-repeat: no-repeat;
  background-image: url('/images/logo.png');  
}
.confirm-box-logo1 {
  margin-left: -9px;
  margin-top: 5px;
  width: 36px;
  height: 36px;
  background-image: url('/images/logo1.png');
  background-repeat: no-repeat;
}
.WingsAirlines {
  margin-top: -38px;
  margin-left: 73px;
  width: 195.5px;
  height: 33px;
  font-family: Roboto;
  color: #19707b;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}
.WingsAirlines1 {
  width: 148px;
  height: 20px;
  margin-top: -33px;
  margin-left: 63px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  color: #ffffff;
}
.confirm-box-arrow {
  margin-top: 15px;
  height: 37.4px;
  background-image: url('/images/arrow.png');
  background-repeat: no-repeat;
}
.-NY {
  width: 68.7px;
  height: 40px;
  margin-top: -29px;
  margin-left: 177px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
}
.-IN {
  width: 68.7px;
  height: 40px;
  margin-top: -49px;
  margin-left: 290px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
}
.amount {
  width: 68.7px;
  height: 40px;
  margin-top: -40px;
  margin-left: 390px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
}
.Login {
  margin-top: -30px;
  margin-left: 1217px;
  width: 60.5px;
  height: 24px;
  font-family: Roboto;
  color: #19707b;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  cursor: pointer;
}
.SignUp {
  margin-top: -24px;
  margin-left: 1343px;
  width: 78.7px;
  height: 24px;
  font-family: Roboto;
  color: #19707b;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  cursor: pointer;
}
.Rectangle-2 {
  width: 1026px;
  height: 437px;
  background-image: url('/images/background.jpg');
  background-repeat:no-repeat;
  background-size: 100%, 100%;
  border: solid 1px #d2c7c7;
}
.captiondiv{
  margin-top: 95px;
  margin-left:374px;
  width: 330px;
  height: 62px;
}
.Rectangle-4 {
  width: 362.2px;
  height: 52px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  text-align: center;
  color: #818285;
  margin-left:542px;
  margin-top: -50px
}
#confirm-box-leftcolumn, #confirm-box-rightcolumn { 
  float: left;
  color: white;
  width: 508px;
}
#confirm-box-leftcolumn {
	border-right: 0.5px solid white;
}

.logo-central {
  height: 131.8px;
  margin: 25px 0 20px 45%;
  background-image: url('/images/shape@3x.png');
  background-repeat: no-repeat;
}
.cofirmation-text-msg {
  padding-bottom: 25px;
  font: 24px RobotoCondensedBold;
  text-align: center;
}
.Rectangle-5 {
  margin-left: 16.3px;
  margin-top: 17.3px;
  width: 46px;
  height: 45px;
  background-color: #19707b;
  border: solid 1px #979797;
  
}
.Rectangle-6 {
  width: 312px;
  height: 249px;
  border-right: solid 2px #a19f9f;
}
.Rectangle-3 {
	width: 1020px;
	height: 81px;
	background-color: #4b4b4b;
	border: solid 1px #979797;
	margin-left: 216px;
	margin-top: 30px;
}
.Rectangle-7 {
  width: 712px;
  height: 249px;  
  margin-top: -249px;
  margin-left: 313px;
}
.Rectangle-8 {
  width: 1440px;
  height: 57px;
  background-color: #575555;
  border: solid 1px #1d0202;
  margin-top: 328px
  
}
.exploreLinkLeft {
  width: 128px;
  height: 30px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #f4f4f8;
  
}
.confirm-ticket-box{
  margin-bottom: 25px;
  height: 70px;
  background-color: rgb(75, 75, 75);
  color: white;
  font-family: Roboto;
  padding-top: 10px;
}
.logo-background{
  background-color: #19707b;
  margin-top: 1px;
  width: 48px;
  height: 48px;
  display: inline-block;
  border: 1px solid #a09e9e;
}
.confirm-logo-text {
  text-align: center;
  margin-top: 14px;
  margin-left: -5px;
  font-size: 16px;
}
.to-text{
  text-align: center;
  margin: 1px 0px 0px 0px;
  font-size: 18px;
}
.from-text{
  text-align: center;
  margin: 1px 0px 0px -15px;
  font-size: 18px;
}
.ticket-price{
  text-align: center;
  margin: 10px 0px 0px 5px;
  font-size: 20px;
}
.to-flight-info{
  border-right: 1px solid;
}
.return-flight-info{

}
.thankyou-text{
  text-align: center;
  padding: 50px 0px 60px 0px;
  font: 20px Roboto;
  color: #4b4b4b;
}